# Q1. Create one variable containing following type of data:

In [1]:
name ="harshal"  #string

In [2]:
list1 = [1,3.14,'name','marks']   #list

In [3]:
a = 5.76   #float

In [4]:
tuple1 = (1,2,3.134,'abs')   #tuple

# Q2. Given are some following variables containing data:

In [5]:
var1 = ''
type(var1)

str

In [6]:
var2 = '[ DS , ML , Python]'

In [7]:
type(var2)

str

In [9]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [10]:
var4 = 1
type(var4)

int

# Q3. Explain the use of the following operators using an example:

In [11]:
4/3   #true divison

1.3333333333333333

In [12]:
4%3   #modular operator gives reminder.

1

In [13]:
4//3   #floor division gives integer value less than or equal to quotient.

1

In [14]:
3**2   #exponenit function

9

# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [15]:
list2 = [1,2,3,4,5,6,7,'a',1.23,3+4j]
for i in list2:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
6
<class 'int'>
7
<class 'int'>
a
<class 'str'>
1.23
<class 'float'>
(3+4j)
<class 'complex'>

# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [18]:
a = int(input())
b = int(input())

16
4

In [19]:
c = 0
while a%b == 0:
    c = c+1
    a = a/b
print(c)

2

# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [20]:
list3 = [x for x in range(25)]

In [21]:
print(list3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [22]:
for i in list3:
    if i%3==0:
        print(i,'is divisible by 3')
    else:
        print(i,'not divisible by 3')

0 is divisible by 3
1 not divisible by 3
2 not divisible by 3
3 is divisible by 3
4 not divisible by 3
5 not divisible by 3
6 is divisible by 3
7 not divisible by 3
8 not divisible by 3
9 is divisible by 3
10 not divisible by 3
11 not divisible by 3
12 is divisible by 3
13 not divisible by 3
14 not divisible by 3
15 is divisible by 3
16 not divisible by 3
17 not divisible by 3
18 is divisible by 3
19 not divisible by 3
20 not divisible by 3
21 is divisible by 3
22 not divisible by 3
23 not divisible by 3
24 is divisible by 3

# Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property

 mutable objects can be modified or changed after their declaration but the immutable objects can not be modified after their declaration.

Mutable data type:
list 
dictionary
set

Immutable data type:
tuple
string

In [23]:
list1 = [1,3.14,'name','marks'] 
print(list1)

[1, 3.14, 'name', 'marks']

In [24]:
list1[2] = 300

In [25]:
print(list1)

[1, 3.14, 300, 'marks']

In [26]:
#mutable

In [27]:
name ="harshal"

In [28]:
print(name)

harshal

In [31]:
name[2] = 'v'  #TypeError: 'str' object does not support item assignment

TypeError: 'str' object does not support item assignment

In [32]:
#string is immutable